.container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 25vh;
    justify-content: center;
    gap: 2vw;
    .body {
      width: 50%;
      h1 {
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 5vh;
        font-size: 5vw;
        line-height: 5vw;
        font-weight: 700;
        text-transform: uppercase;
      }
      h2 {
        margin: 0px;
        font-size: 5vw;
        line-height: 6vw;
        margin-bottom: 5vh;
        span {
            position: relative;
        }
      }
      h3 {
        margin: 0px;
        font-size: 3vw;
        text-transform: uppercase;
      }
    }
  
    .images {
      width: 50%;
      justify-content: center;
      position: relative;
      .imageContainer {
        position: absolute;
        img {
          object-fit: cover;
        }
        &:nth-of-type(1) {
          height: 60vh;
          width: 50vh;
          z-index: 1;
        }
        &:nth-of-type(2) {
          left: 20vw;
          height: 40vh;
          width: 30vh;
          z-index: 2;
        }
      }
    }
   
  }
  
  @media (max-width: 1024px) {
    .container {
      width: 100%;
      flex-direction: column;
      align-items: self-end;
      justify-content: start;
      margin-bottom: 15vh;
      margin-top: 5vh;
      .body {
        width: 100%;
        h1 {
          line-height: 10vw;
          font-size: 10vw;
          margin-top: 5vh;
        }
        h2 {
          font-size: 10vw;
          line-height: 6vw;
          margin-top: 2vh;
          margin-bottom: 2vh;
        }
        h3 {
          font-size: 5vw;
        }
      }

      .images {
        width: 100%;
        .imageContainer {
          &:nth-of-type(1) {
            padding-inline: 0vw;
            width: 100%;
          }

          &:nth-of-type(2) {
            display: none;
          }
        }
      }
    }
  }