.header {
  position: fixed;
  right: 40px;
  top: 40px;
  z-index: 3;
  .menu {
    width: 480px;
    height: 650px;
    background-color: white;
    border-radius: 25px;
    -webkit-box-shadow: -12px 10px 38px -13px rgba(0,0,0,0.3);
    -moz-box-shadow: -12px 10px 38px -13px rgba(0,0,0,0.3);
    box-shadow: -12px 10px 38px -13px rgba(0,0,0,0.3);
    position: relative;
  }
}

.logo {
  z-index: 3;
  position: fixed;
  left: 20px;
  top: 20px;
}

@media (max-width: 768px) {
  .header {
    right: 25px;
    top: 25px;
  }
  .logo {
    left: 12.5px;
    top: 15px;
  }  
}