.header {
  position: fixed;
  right: 40px;
  top: 40px;
  z-index: 3;
  .menu {
    width: 480px;
    height: 650px;
    background-color: white;
    border-radius: 25px;
    position: relative;
  }
}

.logo {
  z-index: 4;
  position: fixed;
  left: 30px;
  top: 30px;
}

@media (max-width: 768px) {
  .header {
    right: 25px;
    top: 25px;
  }
  .logo {
    left: 15px;
    top: 15px;
  }  
}