.nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px 40px 50px 40px;
  height: 100%;
  box-sizing: border-box;
  z-index: 4;
  .body{
      display: flex;
      gap: 10px;
      flex-direction: column;
      .linkContainer{
          perspective: 120px;
          perspective-origin: bottom;
      }
      a{
          text-decoration: none;
          color: #0F0F0F;
          font-size: 46px;
      }
  }
  .footer{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    a{
      color: #0F0F0F;
      margin-top: 5px;
    }
  }
}


@media (max-width: 768px) {
  .nav{
    .body{
        a{
            text-decoration: none;
            color: #0F0F0F;
            font-size: 32px;
        }
    }
    .footer{
      width: 100%;
    }
  }  
}