
.paragraph{
  display: flex;
  font-size: 1.875rem/* 30px */;
  line-height: 2.25rem/* 36px */;
  max-width: 1280px;
  color: white;
  flex-wrap: wrap;
  margin-top: 10vh;

  .word{
    font-weight: 100;
    position: relative;
    margin-right: 12px;
    margin-top: 12px;
    .shadow{
      position: absolute;
      opacity: 20%;
    }
  }
}

@media (max-width: 768px) {
  .paragraph{
    font-size: 1.5rem/* 14px */;
    line-height: 1.25rem/* 20px */;
  }
}
